.sidebar-nav {
  position: absolute;
  height: 100%;
  top: 0;
  width: 20%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ff5900;
}
.navbar-brand {
  border-bottom: 2px solid green;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #ffffcc;
  margin-right: auto;
}
.nav-link {
  color: #ffffcc;
  font-size: 0.7rem;
  font-weight: lighter;
}
.nav-item {
  color: #ffffcc;
  margin-left: 5px;
  padding-top: 10px;
}
.nav-link:hover {
  background-color: #0081a0;
  border-radius: 15px;
}
